body {
    margin:0;
    padding: 0;

} 
iframe {
    border: 1px solid white;
}
#mapboxmap { 
    position:absolute; top:0; bottom:0; width:100%; 
}
#top {
    width:100%;
    height:200px;
}
#tangrammap {
    width:100%;
    height:100%;
}
.map {
    width: 50%; 
    height: 100%; 
    float:left;
    position:relative;
}
.info {
    position: absolute;
    background:hsla(0,100%,100%,0.95);
    border:1px solid #bbb;
    bottom: 0;
    
    /*background:white;*/
    z-index:1002;
    font-family:courier new;
    font-size: 9px;
    left: 0;
    color:#2b2;
    padding:0.5em;
    overflow:scroll;
    max-height:100%;
}
.stylebox {
    position: absolute;
    background:white;
    border:1px solid gray;
    top:1em;
    left: 2em;
    /*right: 2em;*/
    width:90%;
    height:15em;
    z-index:1001;
    font-size:10px;
    box-shadow: 2px 2px 8px gray;
}

.stylebox::placeholder {
    content:"aoeu";
}

#stats {
    position: absolute;
    height:20px;
    bottom:0;
    left:0;
    width:100%;
    background:white;
    z-index:2000;
}